@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #ed1d24;
  --secondary-color: #000;
  --bg-color: #cccccc;
  --text-color-light: #fff;
  --text-color-dark: #000;

  --dent-clip-path: polygon(
    100% 0,
    100% calc(100% - 16px),
    calc(100% - 16px) 100%,
    0 100%,
    0 0
  );
  --dent-clip-path-large: polygon(
    100% 0,
    100% calc(100% - 32px),
    calc(100% - 32px) 100%,
    0 100%,
    0 0
  );
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

img {
  display: block;
}
